@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #232323;
}

/* Стили для скролла */
.scroll-container::-webkit-scrollbar {
  width: 6px;
}

.scroll-container::-webkit-scrollbar-track {
  background: #626273;
}

.scroll-container::-webkit-scrollbar-thumb {
  background: #6968ff;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background: #7a7aff;
}

/* для прозрачности placeholder в input для отправки сообщений */
.input-placeholder::placeholder {
  opacity: 0.5;
}
